<div class="c-start-container">
  <div class="o-wrapper">

    <div class="c-section-content u-margin-bottom">
      <div class="o-grid">
        <div class="o-grid__cell u-1/1 o-block">
          <img src="https://kaft-webpage.web.app/assets/images/logo-main--blue.svg" alt="logo">
        </div>
      </div>

    </div>
    <div class="c-section-header1">
      <header class="c-section-header__title">
        <h4 class="u-margin-right-small">Witamy w Kaftolierach</h4>
      </header>
    </div>

    <div class="c-section-content">
      <div class="o-grid">
        <div class="o-grid__cell u-1/1 o-block">

          <form [formGroup]="startForm" class="u-text-normal" (ngSubmit)="onJoin()">
            <div class="o-grid o-grid--center">
              <div class="o-grid__cell u-1/1@mobile u-1/2@tablet u-1/3@desktop">

                <div class="o-grid">

                  <div class="o-grid__cell u-1/1 u-margin-bottom" *ngIf="message">
                    <div class="u-text-error" style="display: flex; justify-content: center; align-items: center;">
                      <mat-icon class="u-margin-right-small">error_outline</mat-icon>
                      {{ message }}</div>
                  </div>

                  <div class="o-grid__cell u-1/1">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Twój nick</mat-label>
                      <input formControlName="nick" matInput type="text" class="u-type-number u-text-right-align"
                        #nickHTML>
                    </mat-form-field>
                  </div>

                  <div class="o-grid__cell u-1/1">
                    <div class="o-block o-block--right" style="width: 100%">
                      <button type="submit" mat-raised-button color="primary" class="c-join-button u-text-large"
                        [disabled]="startForm.invalid">DOŁĄCZ DO GRY</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>