.c-join-button {
  width: 100%!important;
  min-width: unset!important;
  line-height: 48px;
}

.c-start-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}