<div class="c-start-container">

  <div class="c-section-content u-margin-bottom">
    <div class="o-grid">
      <div class="o-grid__cell u-1/1 o-block">
        <img src="https://kaft-webpage.web.app/assets/images/logo-main--blue.svg" alt="logo">
      </div>
    </div>

  </div>
  <div class="c-section-header1">
    <div class="o-wrapper">
      <header class="c-section-header__title">
        <h4 class="u-margin-right-small">Witamy w Kaftolierach</h4>
      </header>
    </div>
  </div>

  <div class="c-section-content">
    <div class="o-grid">
      <div class="o-grid__cell u-1/1 o-block">

        <form [formGroup]="startForm" class="u-text-normal" (ngSubmit)="onJoin()">
          <div class="o-grid o-grid--center">
            <div class="o-grid__cell u-1/4">

              <div class="o-grid">

                <div class="o-grid__cell u-1/1">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Twój nick</mat-label>
                    <input formControlName="nick" matInput type="text" class="u-type-number u-text-right-align"
                      #nickHTML>
                  </mat-form-field>
                </div>

                <div class="o-grid__cell u-1/1">
                  <div class="o-block o-block--right" style="width: 100%">
                    <button type="submit" mat-raised-button color="primary" class="c-join-button"
                      [disabled]="startForm.invalid">DOŁĄCZ DO GRY</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>