<div class="c-player-list u-padding">
  <header class="o-block">
    <h4>Lista graczy <span *ngIf="playerList?.length">({{ playerList?.length }})</span></h4>
  </header>
  <div class="c-player-list__list">
    <mat-list role="list">
      <ng-container *ngFor="let player of playerList">
        <mat-list-item role="listitem" [ngClass]="{ 'u-font-weight-bold ': player.loggedInPlayer }"
          [ngStyle]="{ 'color' : player?.isAdmin ? '#FB8C00' : '' }">
          <div style="display: flex; align-items: center;" matTooltipPosition="right"
            [matTooltip]="player?.isAdmin ? 'Administrator gry' : ''">
            <span class="u-margin-right-small">{{ player.name }}</span>
            <mat-icon *ngIf="player?.isAdmin" style="color: #FB8C00">stars</mat-icon>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </div>
</div>