<div class="c-room-container">
  <div class="o-wrapper">

    <div class="c-section-header1">
      <header class="c-section-header__title">
        <h3 class="u-margin-right-small">Pokój gry</h3>
      </header>
    </div>

    <div class="c-section-content u-border">
      <div class="o-grid o-grid--flush">
        <div class="o-grid__cell u-1/2">
          <app-players [playerList$]="playerList$"></app-players>
        </div>
        <div class="o-grid__cell u-1/2">
          <div class="o-grid">
            <div class="o-grid__cell u-1/1">
              <app-game-status [status]="status"></app-game-status>
            </div>
            <div class="o-grid__cell u-1/1">
              <app-lifebuoys [status]="status"></app-lifebuoys>
            </div>
            <div class="o-grid__cell u-1/1">
              <app-ranking [playerRanking$]="playerRanking$"></app-ranking>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>