<div class="c-room-container">
  <div class="o-wrapper">

    <div class="c-section-header1">
      <header class="c-section-header__title">
        <h3 class="u-margin-right-small">Gra</h3>
      </header>
    </div>

    <div class="c-section-content u-border">
      <div class="o-grid o-grid--flush">
        <div class="o-grid__cell u-1/2">
          <div class="c-game u-padding">
            <header class="o-block">
              <h4>Pytanie</h4>
            </header>
            <div class="c-game__question u-text-huge u-margin-bottom-large">
              Question 1
            </div>
            <div class="c-game__answers">
              <mat-radio-group aria-label="Select an option">
                <div class="o-grid o-grid--flush">
                  <ng-container *ngFor="let question of questions">
                    <div class="o-grid__cell u-1/2 u-text-large u-margin-bottom">
                      <mat-radio-button [value]="question.name" class="u-border">{{ question.name }}</mat-radio-button>
                    </div>
                  </ng-container>
                </div>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <div class="o-grid__cell u-1/2">
          <div class="o-grid">
            <div class="o-grid__cell u-1/1">
              <app-game-status [status]="status"></app-game-status>
            </div>
            <div class="o-grid__cell u-1/1">
              <app-lifebuoys [status]="status"></app-lifebuoys>
            </div>
            <div class="o-grid__cell u-1/1">
              <app-ranking [playerRanking$]="playerRanking$"></app-ranking>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>