<div class="c-lifebuoys u-border-left u-border-bottom u-padding">
  <header class="u-margin-bottom o-block">
    <h4>Koła ratunkowe</h4>
  </header>

  <div class="c-lifebuoys__items u-is-inactive">
    <a class="c-lifebuoys-action" matTooltip="Odrzuć 2 nieprawidłowe odpowiedzi">
      <img src="../../assets/images/fifty-fifty.svg" alt="fifty-fifty">
    </a>
    <a class="c-lifebuoys-action" matTooltip="Sprawdź czy odpowiedź jest prawidłowa">
      <img src="../../assets/images/scanner.svg" alt="scanner">
    </a>
    <a class="c-lifebuoys-action" matTooltip="Zapytaj bota o podpowiedź">
      <img src="../../assets/images/bot.svg" alt="bot">
    </a>
  </div>
</div>